[submodule "package/custom/openwrt-passwall"]
	path = package/custom/openwrt-passwall
	url = https://github.com/xiaorouji/openwrt-passwall
[submodule "package/custom/luci-app-helloworld"]
	path = package/custom/luci-app-helloworld
	url = https://github.com/fw876/helloworld
[submodule "package/custom/lua-maxminddb"]
	path = package/custom/lua-maxminddb
	url = https://github.com/jerrykuku/lua-maxminddb.git
[submodule "package/custom/luci-app-vssr"]
	path = package/custom/luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
